{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="mb-0">View Profile</h3>
                        <a href="{% url 'users:edit-user-profile' %}?source=profile" class="btn btn-primary">Edit Profile</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                      {% load cloudinary %}
                      {% if cloudinary user.profile_pic %}
                        {% cloudinary user.profile_pic quality='auto' width=150 crop='pad' background='gen_fill:ignore-foreground_true'%}
                      <!-- {% if user.profile_pic %}
                          <img src="{{ user.profile_pic }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;"> -->
                      {% else %}
                          <img src="https://res.cloudinary.com/dsu3jrywn/image/upload/v1742366111/blank-profile_ye4tm3.jpg" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                      {% endif %}                 
                        <h5 class="my-3">{{ user.first_name }} {{ user.last_name }}</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{ user.email }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{ user.phone }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}